  <footer class="container">
  <hr />
      <div class="row">
          <p class="credit">&copy; Copyright <a href="credit.php">tsuki-team</a></p>
      </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    var bg_pos;
    var addspace = 0;
    var navlist = $('#nav-side').find('li[class!=nav-header]');
    var navall = $('#nav-side').find('li');
    var now="{$now}";
    if("{$now}"=="credit")addspace = 33;
    bg_pos = navlist.index($('#'+now))*32.75+2;
    {if="$admin == 1"}
    	if(navall.index($(this)) > navall.index($("#adm")))
    		bg_pos += 35;
    {/if}
    bg_pos = bg_pos.toString()+"px";
    $(function(){
	    $("#nbg").css('margin-top', bg_pos);
	    color_now = "rgb(0, 136, 204)";
	    $("#"+now).find("a").css('color', "white");
    });
    var mg, ths, ind;
    navlist.mouseover(function(){
    	ind = navlist.index($(this));
    	mg = (ind)*(32.75)+2;
    	{if="$admin == 1"}
    	if(navall.index($(this)) > navall.index($("#adm"))){
    		mg += 35;
    	}
    	{/if}
    	$("#nbg").css('margin-top', mg.toString()+"px");
    	ths = $(this).attr('id');
    	if(now!=ths)$("#"+now).find("a").css('color', color_now);
    }).mouseleave(function(){
    	$("#nbg").css('margin-top', bg_pos);
		$("#"+now).find("a").css('color', "white");
    });
    
  </script>
</body>
</html>
