  <footer class="container" style="margin-top:40px;">
  <hr />
      <div class="row" style="margin-top:-15px;margin-left:20px;">
          <p style="color:#bfbfbf">&copy; Copyright tsuki-team</p>
      </div>
  </footer>
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(function(){
		$('.affix-top').affix();
      //alert('hi');
      //$('#navbar').affix();
      
    });
  </script>
</body>
</html>