{include="header"}
<!-- Topbar -->
{include="topbar"}

  <!-- End Header and Nav -->
  
  <div class="container content-all">
    <div class="row">
      <div class="span3 affix">
        <div class="well">
          <ul id="nav-side" class="nav nav-pills nav-stacked">
            <li class="nav-header">List header</li>
            <div id="nbg" class="activate">&nbsp;</div>
            <li id="home" class=' {if="$now == 'home'"} active {/if} '><a href="main.php">Home</a></li>
            <li id="prob" class=' {if="$now == 'prob'"} active {/if} '><a href="problem.php">Problem</a></li>
			<li id="subm" class=' {if="$now == 'subm'"} active {/if}} '><a href="#">Submit</a></li>
			<li id="help" class=' {if="$now == 'help'"} active {/if}} '><a href="#">Help</a></li>
			{if="$now == 'credit'"}
			<li id="credit" class='active'><a href="credit.php">Credit</a></li>
			{/if}
			{if="$admin == 1"}
            <li id="adm" class="nav-header">Admin Panel</li>
			<li id="console" class=' {if="$now == 'console'"} active {/if}} '><a href="console.php">Console</a></li>
			{/if}
          </ul>
        </div>
        
        <!--<p><img src="http://placehold.it/320x240&text=Ad" /></p>-->
          
      </div>

      <!-- Main Content Section -->
      <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
		<div class="offset3 span9">
			<div class = "well well-large content-main">
				{include="$content"}
			</div>

		</div>
	  </div>
    </div>

{include="footer"}
