  <div class="topbar-sticky">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">Tsuki grader</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <li class="active"><a href="#">Main Item 1</a></li>
          <li class="divider"></li>
          <li><a href="#">Hello</a></li>
          <li class="divider"></li> 
        </ul>
		<ul class="right" style="position:fixed;right:0px;">
          <li class="divider"></li>
          <li><a href="logout.php">Logout</a></li>
        </ul>
      </section>
    </nav>
	<a href="#"><p id="display-name">@{$dname}</p></a>
  </div>

